body {
    font-family: sans-serif;
}

.container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    display: inline-block;
    background: royalblue;
    padding: 10px;
    width: 100px;
    height: 100px;
    margin-top: 50px;
    line-height: 100px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    cursor: pointer;
}

.content {
    display: inline-block;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    width: 200px;
}
